.ui-icon-toledo-rss {
	background-image: url("/assets/img/sglyphicons_327_rss.png");
}

.ui-icon-toledo-calendar {
	background-image: url("/assets/img/glyphicons_045_calendar.png");
}

.ui-icon-toledo-course {
	background-image: url("/assets/img/glyphicons_071_book.png");
}